$mapBorder: #999;
$wallColor: #444;
$wallBorder: #000;
$spaceSize: 36px;

$fWall: #000;
$fcolor: #999;

.fullMap{
    position: relative;
    border: {
        width: 1px 0 0 1px;
        style: dashed;
        color: $mapBorder;
    }
}

.mapRow{
    white-space: nowrap;
}

.space{
    border: {
        width: 0 1px 1px 0;
        style: dashed;
        color: $mapBorder;
    }
    text-align: center;
    line-height: $spaceSize;
    width: $spaceSize;
    height: $spaceSize;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
    // sorta temp? will probably be set up in more detail later.
    .wall{
        position: absolute;
        width: $spaceSize / 10;
        height: $spaceSize;
        background-color: $wallColor;
        border: 2px solid $wallBorder;
        z-index: 100;

        &.north{
            top: -$spaceSize / 2 - 2px;
            left: $spaceSize / 2 - 4px;
            transform: rotate(90deg);
        }
        &.east{
            top: -2px;
            right: -$spaceSize / 20 - 2px;
        }
        &.south{
            bottom: -$spaceSize / 2 - 2px;
            left: $spaceSize / 2 - 4px;
            transform: rotate(90deg);
        }
        &.west{
            top: -2px;
            left: -$spaceSize / 20 - 2px;
        }
    }

    .door{
        @extend .wall;
        background-color: rgb(153, 118, 43);
    }

    .wallCorner{
        @extend .wall;
        width: $spaceSize / 5;
        height: $spaceSize / 5;
        z-index: 200;

        $sz : -$spaceSize / 10 - 2px;

        &.ne {
            top: $sz;
            right: $sz;
        }
        &.se {
            bottom: $sz;
            right: $sz;
        }
        &.sw {
            bottom: $sz;
            left: $sz;
        }
        &.nw {
            left: $sz;
            top: $sz;
        }
    }
}

.furniture{
    position: absolute;
    background-color: $fcolor;
    border: 2px solid $fWall;
    border-top-width: 4px;
    top: 3px;
    left: 3px;
    transform-origin: top left;
    z-index: 50;

    &.w1{
        width: $spaceSize - 10;
    }
    &.w2{
        width: $spaceSize*2 - 10;
    }
    &.w3{
        width: $spaceSize*3 - 10;
    }
    &.h1{
        height: $spaceSize - 10;
    }
    &.h2{
        height: $spaceSize*2 - 10;
    }
    &.h3{
        height: $spaceSize*3 - 10;
    }

    // facing direction
    &.e{
        transform: rotate(90deg);  
        &.h1{
            left: $spaceSize - 3;
        }
        &.h2{
            left: $spaceSize * 2 - 3;
        }
    }
    &.s{
        transform: rotate(180deg);
        transform-origin: 50% 50%;
    }
    &.w{
        transform: rotate(270deg);
        &.w1{
            top: $spaceSize - 3;
        }
        &.w2{
            top: $spaceSize * 2 - 3;
        }
        &.w3{
            top: $spaceSize * 3 - 3;
        }

    }

}

.monster{
    position: absolute;
    top: 0;
    left: 0;
    width: $spaceSize - 8px;
    height: $spaceSize - 8px;
    border-radius: $spaceSize / 2;
    border-color: rgb(66, 11, 11);
    border-style: solid;
    background-color: rgb(100, 49, 49);
    color: white;
    text-align: center;
    line-height: $spaceSize - 8;
    z-index: 200;
    
}

.hero {
    @extend .monster;
    border-color: #090;
    background-color: #040;
}


.clickFullMap{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2000;
    border: {
        width: 1px 0 0 1px;
        style: solid;
        color: transparent;
    }
    opacity: 0.5;
}

.clickMapRow{
    white-space: nowrap;
}

.clickSpace{
    border: {
        width: 0 1px 1px 0;
        style: solid;
        color: transparent;
    }
    text-align: center;
    line-height: $spaceSize;
    width: $spaceSize;
    height: $spaceSize;
    display: inline-block;
    vertical-align: top;
    position: relative;

    &.white{
        background-color: white;
    }
    &.grey{
        background-color: grey;
    }
    &.black{
        background-color: black;
    }
    &.red{
        background-color: red;
    }
    &.yellow{
        background-color: yellow;
    }
    &.green{
        background-color: green;
    }
    &.blue{
        background-color: blue;
    }
    &.orange{
        background-color: orange;
    }

    &.hideColor{
        background-color: transparent;
    }
}

.turncontrolwrapper {
    position: absolute;
    right: 0;
    top: 0;
    border: 3px solid #444;
    border-width: 0 0 3px 3px;
    width: 142px;
    height: 285px;
    z-index: 10000;
    background-color: #eee;   
    padding: 10px;
    border-radius: 0px 0px 0px 10px;

    button {
        margin: 10px;
        display: block;
        width: 100px;
        height: 20px;

        &.endTurn{
            width: 120px;
            height: 30px;
            background-color: #fa6;
            border: 1px solid #943;
            border-radius: 3px;
            transition: color .2s, border-color .2s, background-color .2s;

            &:hover {
                background-color: #a00;
                color: #fff;
                border-color: #600;
            }
        }
    }

    .actionFrame {
        border: 1px solid black;
        position: relative;
        margin: 10px;

        label{
            position: absolute;
            top: -7px;
            left: 5px;
            font-size: 12px;
            background-color: #eee;
            padding: 0 4px;
        }
    }

}
